body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}
.ticket {
  width: 300px;
  padding: 30px;
  border: 2px solid black;
  background-color: #f9f9f9;
  text-align: center;
}
.ticket h2 {
  margin: 0;
  text-align: center;
}
.ticket p {
  margin: 5px 0;
}
.ticket .info {
  font-weight: bold;
}
